@tailwind base;


@layer base {
	:root {
		--sidebar-p: clamp(0.35rem, 0.65vw, 0.6rem);
		--external-p: calc(var(--sidebar-p) * 1.1);
		--p: calc(var(--sidebar-p) + var(--external-p));
		--header-h: clamp(4rem, 8vw, 8rem);
	}
}
